<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EntreEspeciesNuevo</title>
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="~/EntreEspeciesNuevo.styles.css" asp-append-version="true" />

    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
        }

        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #ffffff; /* Color de fondo del encabezado */
            z-index: 1000; /* Asegúrate de que el encabezado esté por encima del contenido */
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra para un efecto visual */
        }


        /* Improved table styles */
        .table {
            width: 100%;
            margin-bottom: 1rem;
            color: #495057;
            border-collapse: collapse;
        }

            .table th,
            .table td {
                padding: 0.75rem;
                vertical-align: top;
                border: 1px solid #dee2e6;
            }

            .table thead th {
                vertical-align: bottom;
                border-bottom: 2px solid #007bff;
            }

            .table tbody + tbody {
                border-top: 2px solid #007bff;
            }

        .table-dark {
            color: #fff;
            background-color: #343a40;
        }

            .table-dark th,
            ..table-dark td,
            ..table-dark thead th {
                border-color: #454d55;
            }

        /* Improved menu styles */
        .menu-container {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100px;
            background-color: #ffffff;
            border-right: 2px solid #007bff;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            transition: width 0.3s;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

        .logo-container {
            padding: 15px;
            border-bottom: 2px solid #007bff;
        }

        .navbar-brand {
            color: #007bff;
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
        }

        .navbar-vertical {
            width: 100%;
            padding-top: 20px;
        }

        .nav-link {
            padding: 15px;
            color: #495057;
            transition: background-color 0.3s;
            text-decoration: none;
            display: flex;
            align-items: center;
            font-size: 16px;
            border-radius: 6px;
            margin-bottom: 1px;
            cursor: pointer;
            opacity: 0.9;
            transition: all 0.3s;
            position: relative;
        }

            .nav-link:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 4px;
                height: 100%;
                background-color: #007bff;
                opacity: 0;
                transition: opacity 0.3s;
            }

            .nav-link:hover,
            .nav-link:focus {
                background-color: #007bff;
                color: #fff;
                opacity: 1;
            }

                .nav-link:hover img,
                .nav-link:focus img {
                    filter: brightness(0) invert(1); /* Invertir el color de la imagen */
                }

        .nav-item-dropdown {
            position: relative;
        }

            .nav-item-dropdown:hover .nav-link {
                background-color: #f8f9fa; /* Change background color on dropdown hover */
            }

        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            float: left;
            min-width: 10rem;
            padding: 0.5rem 0;
            margin: 0.125rem 0 0;
            font-size: 1rem;
            color: #495057;
            text-align: left;
            list-style: none;
            background-color: #ffffff;
            background-clip: padding-box;
            border-radius: 0.25rem;
        }

        .navbar-nav {
            margin-bottom: 5px; /* Adjust this value to your preference */
        }

        .dropdown-menu-item {
            margin-bottom: 5px; /* Adjust this value to your preference */
        }

        .nav-item-dropdown:hover .dropdown-menu {
            display: block;
        }

        .dropdown-menu-item {
            padding: 0.5rem 1rem;
            color: #495057;
            text-decoration: none;
            display: block;
            transition: background-color 0.3s;
        }

        .menu-container .navbar-vertical .navbar-nav .nav-item .nav-link:hover,
        .menu-container .navbar-vertical .navbar-nav .nav-item .nav-link:focus {
            background-color: #007bff !important;
            color: #fff !important;
            opacity: 1;
        }

        .dropdown-menu-item:hover {
            background-color: #f8f9fa;
        }

        /* Improved user options styles */
        .user-avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 15px;
        }

            .user-avatar img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(0) invert(1);
            }

        .user-options {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 80px;
            right: 30px;
            background-color: #ffffff;
            border: 2px solid #007bff;
            border-radius: 8px;
            z-index: 1;
        }

            .user-options a {
                display: block;
                padding: 10px;
                color: #495057;
                text-decoration: none;
                transition: background-color 0.3s;
                font-size: 16px;
            }

                .user-options a:hover,
                .user-options a:focus {
                    background-color: #E3E0E0;
                    color: #fff;
                }

        .user-container {
            position: fixed; /* Se fija la posición del contenedor del usuario */
            top: 0;
            right: 0;
            padding: 10px;
            display: flex;
            align-items: center;
            background-color: #ffffff; /* Puedes ajustar el color de fondo según tu preferencia */
            border: 2px solid #007bff; /* Puedes ajustar el estilo del borde según tu preferencia */
            border-radius: 0 0 0 10px; /* Puedes ajustar el radio de borde según tu preferencia */
            z-index: 1000; /* Se ajusta el índice Z para que esté por encima del resto del contenido */
        }
        #userOptions:hover img {
            filter: brightness(0) invert(1); /* Invertir el color de la imagen */
        }
    </style>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EntreEspeciesNuevo.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        @if (!ViewContext.RouteData.Values["Controller"].ToString().Equals("Acceso", StringComparison.OrdinalIgnoreCase))
        {
            @if (User.Identity.IsAuthenticated)
            {

                <div class="menu-container">
                    <div class="logo-container">
                        <img src="~/images/logor.png" alt="Logo" width="100px" class="img-fluid" style="margin-left: 30px;">

                    </div>
                    <nav class="navbar-vertical">
                  
                    
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item nav-item-ventas">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="/images/dash.png" alt="Ventas" style="width: 20px; height: 20px; margin-right: 10px;" />    Dashboard
                                </a>
                            </li>
                            <div class="nav-item nav-item-existencias">
                                <a class="nav-link text-dark" id="regiBtn">
                                    <img src="/images/registro.png" alt="Registro" style="width: 20px; height: 20px; margin-right: 10px;" />    Registros
                                </a>


                                <div class="regi-dropdown">
                                    <ul>
                                        <li class="nav-item nav-item-clientes">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">
                                                <img src="/images/cliente.png" alt="Clientes" style="width: 20px; height: 20px; margin-right: 10px;" />      Clientes
                                            </a>
                                        </li>

                                        <li class="nav-item nav-item-mascotas">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Mascotas" asp-action="Index">
                                                <img src="/images/mascotas.png" alt="Mascotas" style="width: 20px; height: 20px; margin-right: 10px;" />    Mascotas
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <li class="nav-item nav-item-ventas">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Ventas" asp-action="Index">
                                    <img src="/images/ventas.png" alt="Ventas" style="width: 20px; height: 20px; margin-right: 10px;" />    Ventas
                                </a>
                            </li>
                            <li class="nav-item nav-item-servicios">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Servicios" asp-action="Index">
                                    <img src="/images/servicios.png" alt="Servicios" style="width: 20px; height: 20px; margin-right: 10px;" />    Servicios
                                </a>
                            </li>
                            <li class="nav-item nav-item-citas">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CitaInternas" asp-action="Index">
                                    <img src="/images/citas.png" alt="CitaInternas" style="width: 20px; height: 20px; margin-right: 10px;" />    Citas
                                </a>
                            </li>
                            <!-- Dentro del bloque con la clase "navbar-nav flex-grow-1" -->
                            <div class="nav-item nav-item-existencias">
                                <a class="nav-link text-dark" id="existenciasBtn">
                                    <img src="/images/existencias.png" alt="Existencias" style="width: 20px; height: 20px; margin-right: 10px;" />    Existencias
                                </a>
                                <div class="existencias-dropdown">
                                    <ul>
                                        <li class="nav-item nav-item-proveedores">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Proveedores" asp-action="Index">
                                                <img src="/images/proveedores.png" alt="Proveedores" style="width: 20px; height: 20px; margin-right: 10px;" />    Proveedores
                                            </a>
                                        </li>
                                        <li class="nav-item nav-item-productos">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Productoes" asp-action="Index">
                                                <img src="/images/productos.png" alt="Productoes" style="width: 20px; height: 20px; margin-right: 10px;" />    Productos
                                            </a>
                                        </li>
                                        <li class="nav-item nav-item-compras">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Compras" asp-action="Index">
                                                <img src="/images/compra.png" alt="Compras" style="width: 20px; height: 20px; margin-right: 10px;" />    Compras
                                            </a>
                                        </li>
                                        <li class="nav-item nav-item-categorias">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Index">
                                                <img src="/images/categoria.png" alt="Categorias" style="width: 20px; height: 20px; margin-right: 10px;" />    Categorías
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="nav-item nav-item-existencias">
                                <a class="nav-link text-dark" id="confiBtn">
                                    <img src="/images/configuraciones.png" alt="configuracion" style="width: 20px; height: 20px; margin-right: 10px;" />    Configuraciones
                                </a>

                                <div class="confi-dropdown">
                                    <ul>
                                        <li class="nav-item nav-item-configuraciones">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">
                                                <img src="/images/configuracion.png" alt="Roles" style="width: 20px; height: 20px; margin-right: 10px;" />    Configuración
                                            </a>
                                        </li>
                                        <li class="nav-item nav-item-usuarios">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">
                                                <img src="/images/usuarios.png" alt="Usuarios" style="width: 20px; height: 20px; margin-right: 10px;" />   Usuarios
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </nav>
                </div>
            }

        }

    </header>
    <div class="main-container">
        <div class="content-container">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="d-flex justify-content-end align-items-center" id="userOptions" style="margin-bottom: 25px;">
                    <div>
                        <span class="navbar-text">Usuario: @User.Identity.Name!</span>
                        <img src="/images/avatarr.gif" alt="User Avatar" width="50" style="margin-right: 10px;">
                    </div>
                    <div class="user-options">
                        <a class="text-info" href="@Url.Action("OlvidoContraseña", "Acceso")">CAMBIAR CONTRASEÑA</a>
                        <a class="nav-link text-dark" asp-controller="Acceso" asp-action="Logout">
                            <img src="/images/salir.png" alt="Acceso" style="width: 20px; height: 20px; margin-right: 10px;" /> Salir
                        </a>
               
                    </div>
                </div>
            }
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer>
        </footer>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/Acceso/VerClientes",
                success: function (data) {
                    if (data.accesoClientes === true) {
                        $("li.nav-item-clientes").show();
                    } else {
                        $("li.nav-item-clientes").hide();
                    }
                },
                error: function () {
                    console.error("Error al verificar acceso.");
                }
            });
            $.ajax({
                type: "POST",
                url: "/Acceso/VisualizarUsuarios",
                success: function (data) {
                    if (data.accesoClientes === true) {
                        $("li.nav-item-usuarios").show();
                    } else {
                        $("li.nav-item-usuarios").hide();
                    }
                },
                error: function () {
                    console.error("Error al verificar acceso.");
                }
            });
            $.ajax({
                type: "POST",
                url: "/Acceso/VisualizarProductos",
                success: function (data) {
                    if (data.accesoClientes === true) {
                        $("li.nav-item-productos").show();
                    } else {
                        $("li.nav-item-productos").hide();
                    }
                },
                error: function () {
                    console.error("Error al verificar acceso.");
                }


            });
            $.ajax({
                type: "POST",
                url: "/Acceso/VisualizarProveedores",
                success: function (data) {
                    if (data.accesoClientes === true) {
                        $("li.nav-item-proveedores").show();
                    } else {
                        $("li.nav-item-proveedores").hide();
                    }
                },
                error: function () {
                    console.error("Error al verificar acceso.");
                }
            });
            $.ajax({
                type: "POST",
                url: "/Acceso/VisualizarCategorias",
                success: function (data) {
                    if (data.accesoClientes === true) {
                        $("li.nav-item-categorias").show();
                    } else {
                        $("li.nav-item-categorias").hide();
                    }
                },
                error: function () {
                    console.error("Error al verificar acceso.");
                }
            });
            $.ajax({
                type: "POST",
                url: "/Acceso/VisualizarVentas",
                success: function (data) {
                    if (data.accesoClientes === true) {
                        $("li.nav-item-ventas").show();
                    } else {
                        $("li.nav-item-ventas").hide();
                    }
                },
                error: function () {
                    console.error("Error al verificar acceso.");
                }
            });
            $.ajax({
                type: "POST",
                url: "/Acceso/VisualizarConfiguraciones",
                success: function (data) {
                    if (data.accesoClientes === true) {
                        $("li.nav-item-configuraciones").show();
                    } else {
                        $("li.nav-item-configuraciones").hide();
                    }
                },
                error: function () {
                    console.error("Error al verificar acceso.");
                }
            });
            $.ajax({
                type: "POST",
                url: "/Acceso/VisualizarCompras",
                success: function (data) {
                    if (data.accesoClientes === true) {
                        $("li.nav-item-compras").show();
                    } else {
                        $("li.nav-item-compras").hide();
                    }
                },
                error: function () {
                    console.error("Error al verificar acceso.");
                }
            });
            $.ajax({
                type: "POST",
                url: "/Acceso/VisualizarCitas",
                success: function (data) {
                    if (data.accesoClientes === true) {
                        $("li.nav-item-citas").show();
                    } else {
                        $("li.nav-item-citas").hide();
                    }
                },
                error: function () {
                    console.error("Error al verificar acceso.");
                }
            });
            $.ajax({
                type: "POST",
                url: "/Acceso/VisualizarServicios",
                success: function (data) {
                    if (data.accesoClientes === true) {
                        $("li.nav-item-servicios").show();
                    } else {
                        $("li.nav-item-servicios").hide();
                    }
                },
                error: function () {
                    console.error("Error al verificar acceso.");
                }
            });
            $.ajax({
                type: "POST",
                url: "/Acceso/VisualizarMascotas",
                success: function (data) {
                    if (data.accesoClientes === true) {
                        $("li.nav-item-mascotas").show();
                    } else {
                        $("li.nav-item-mascotas").hide();
                    }
                },
                error: function () {
                    console.error("Error al verificar acceso.");
                }
            });
            $(document).ready(function () {
                $("#userOptions").click(function () {
                    $(".user-options").toggle(); // Muestra u oculta las opciones
                });
            });
            $(document).ready(function () {
                $("#existenciasBtn").click(function (e) {
                    e.stopPropagation(); // Evita que el clic se propague al documento y cierre la lista desplegable
                    $(".existencias-dropdown").toggle();
                });

                // Cierra la lista desplegable si se hace clic fuera de ella
                $(document).click(function (e) {
                    if (!$(e.target).closest("#existenciasBtn").length && !$(e.target).closest(".existencias-dropdown").length) {
                        $(".existencias-dropdown").hide();
                    }
                });
            });
            $(document).ready(function () {
                $("#confiBtn").click(function (e) {
                    e.stopPropagation(); // Evita que el clic se propague al documento y cierre la lista desplegable
                    $(".confi-dropdown").toggle();
                });

                // Cierra la lista desplegable si se hace clic fuera de ella
                $(document).click(function (e) {
                    if (!$(e.target).closest("#confiBtn").length && !$(e.target).closest(".confi-dropdown").length) {
                        $(".confi-dropdown").hide();
                    }
                });
            });
            $(document).ready(function () {
                $("#regiBtn").click(function (e) {
                    e.stopPropagation(); // Evita que el clic se propague al documento y cierre la lista desplegable
                    $(".regi-dropdown").toggle();
                });

                // Cierra la lista desplegable si se hace clic fuera de ella
                $(document).click(function (e) {
                    if (!$(e.target).closest("#regiBtn").length && !$(e.target).closest(".regi-dropdown").length) {
                        $(".regi-dropdown").hide();
                    }
                });
            });
        });

    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
