@model EntreEspeciesNuevo.Models.Permiso

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Permiso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre del Permiso
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPermiso)
        </dd>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.IdPermiso">Editar</a> |
            <a asp-action="Index">Regresar</a>
        </div>
    </dl>
</div>

